<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" type="text/css" >
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Open+Sans?query=sans" type="text/css">
    <title>Document</title>
</head>
<body>
   <div class="contaner">
    <fieldset>
        <form action="/" method="post" autocomplete="off">
            <input type="text" name="city" placeholder="Enter the city" required id="" class="ghost-input">
            <input type="submit" value="Get weather" id="submit" class="ghost-button">
        </form>this is the ejs template
       
        <% if(weather !== null){%>
            <p><%~ weather %></p>
        <% }%> <% if(errors !== null) {%>
    
            <p><%~ errors %></p>
        <%}%>
    

    </fieldset>

   </div>

</body>
</html>